<a href="https://colab.research.google.com/github/vinicunhac/fiap_big_data_science/blob/main/titanic_classification_survivors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 0. Libs

In [17]:
import pandas as pd
import sklearn.preprocessing as skpp
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import recall_score, precision_score, accuracy_score

## 1. Loading datasets

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/dados_arvore_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. Feature Engineering

In [36]:
#Construção da dummy de gênero
dummies_sex = pd.get_dummies(df['Sex'])
df['SexFemale'] = dummies_sex['female']

dummies_class = pd.get_dummies(df['Pclass'], prefix='p')
df['p1'] = dummies_class['p_1']
df['p2'] = dummies_class['p_2']

age_med = df['Age'].mean()
df['Age'] = df['Age'].fillna(age_med)

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SexFemale,p1,p2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,0

## 3. Sample train and test

In [38]:
# Survived é a variável target e SexFemale é a feature
x_train, x_test, y_train, y_test = train_test_split(df[['SexFemale','p1', 'p2', 'Age']], df['Survived'], test_size=0.25, random_state=33)

## 4. Tree Models

In [39]:
mod = tree.DecisionTreeClassifier()

mod.fit(x_train, y_train)
y_prev = mod.predict(x_test)

DecisionTreeClassifier()

## 5. Confusion Matrix

In [41]:
# Confusion Matrix
pd.crosstab(y_prev, y_test, margins=True)

Survived    0   1  All
row_0
0         120  23  143
1          14  66   80
All       134  89  223

## 6. Testing model

In [42]:
# Métricas de Erro de previsão
print(accuracy_score(y_test, y_prev))
print(recall_score(y_test, y_prev))
print(precision_score(y_test, y_prev))

0.8340807174887892
0.7415730337078652
0.825